<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!-- Comment out default Session state provider -->
    <!-- 
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="10" 
                  customProvider="" cookieless="UseCookies" cookieName="ASPNETSessionId" timeout="20" useHostingIdentity="true" >
      <providers>
        <clear />
      </providers>
    </sessionState> 
    -->
    <!-- REDIS Session state provider -->
    <sessionState stateConnectionString="tcp=localhost:6379" mode="Custom" customProvider="RedisSession" cookieName="REDISSessionId" cookieless="UseCookies" timeout="20">
      <providers>
      </providers>
    </sessionState>

    <!-- For Non Integrated IIS Website App Pools:
    <httpModules>
      <remove name="Session" />
      <add name="Session" type="RediSessionLibrary.RedisSessionStateModule" />
    </httpModules>
    -->
  </system.web>
  <system.webServer>
    <modules>
      <!-- For Integrated IIS Website App Pools: -->
      <remove name="Session" />
      <add name="Session" type="RediSessionLibrary.RedisSessionStateModule" />
    </modules>
  </system.webServer>
</configuration>
